@{
    ViewData["Title"] = "Buscar libros por autor";
}

<h2>Buscar libros</h2>

<form method="post">
    <div class="form-group">
        <label>Nombre del autor:</label>
        <input name="autor" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Buscar</button>
</form>
